fastapi
uvicorn[standard]

python-multipart
opencv-python
pydicom
numpy
pillow

torch
torchvision
torchaudio

timm
thop
py-cpuinfo
psutil
PyYAML
scipy
matplotlib
seaborn
tqdm
dill
requests
psutil
matplotlib
scipy
py-cpuinfo

# To run the API:
# pip install -r requirements.txt
