fastapi
uvicorn[standard]
pandas
numpy
python-multipart
pydantic
pillow
opencv-python-headless
timm
dill
requests
psutil
matplotlib
scipy
py-cpuinfo

# To run the API:
# pip install -r requirements.txt
